@{
     Layout = "~/Views/Shared/_LayoutSimple.cshtml";
     ViewBag.Title = "Login";
}
@model SemesterProject.Model.UserLogin

<div class="account-pages mt-5 mb-5">
     <div class="container">
          <div class="row justify-content-center">
               <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                         <div class="card-body p-4">
                              <div class="text-center w-75 m-auto">
                                   <a href="/Home/Index">
                                        <span><img src="~/assets/images/logo-dark.png" alt="" height="22"></span>
                                   </a>
                                   <p class="text-muted mb-4 mt-3">Enter your email address and password to access the full web-site.</p>
                              </div>
                              @Html.ValidationSummary(true)
                              @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "LoginForm" }))
                              {
                                   @Html.AntiForgeryToken()
                                   <form action="/" novalidate id="LoginForm" method="post">

                                        <div class="form-group mb-3">
                                             @Html.LabelFor(m => m.Email, new { @class = "emailadress" })
                                             @Html.TextBoxFor(m => m.Email, new
                                        {
                                             placeholder = "example@gmail.com",
                                             title = "Enter your email",
                                             value = "",
                                             name = "email",
                                             id = "emailaddress",
                                             @class = "form-control"
                                        })
                                        </div>

                                        <div class="form-group mb-3">
                                             @Html.LabelFor(m => m.Password, new { @class = "password" })
                                             @Html.TextBoxFor(m => m.Password, new
                                        {
                                             placeholder = "password",
                                             title = "Enter your password",
                                             value = "",
                                             name = "password",
                                             id = "password",
                                             @class = "form-control"
                                        })
                                        </div>

                                        <div class="form-group mb-3">
                                             <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                                                  <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                             </div>
                                        </div>

                                        <div class="form-group mb-0 text-center">
                                             <button type="submit" class="btn btn-primary btn-block" href="/Home/Index"> Log In </button>
                                        </div>

                                   </form>
                              }

                         </div>
                    </div>
                    <div class="row mt-3">
                         <div class="col-12 text-center">
                              <p> <a href="/Login/RecoverData" class="text-primary ml-1">Forgot your password?</a></p>
                              <p class="text-muted">Don't have an account? <a href="/Login/Register" class="text-primary font-weight-medium ml-1">Sign Up</a></p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>