@using System.Web.Optimization;

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <title>Minton - Responsive Admin Dashboard Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     @Styles.Render("~/assets/css")

</head>
<body>
     <header id="topnav">
          @Html.Partial("_Header")
     </header>
     <div class="wrapper">
          <div class="container-fluid">
               @RenderBody()
          </div>
     </div>

     @Html.Partial("_Footer")

     @Scripts.Render("~/assets/js")
</body>
</html>