@using System.Web.Optimization;

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <title>Highway - Free CSS Template</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="apple-touch-icon" href="apple-touch-icon.jpg">
     <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

     @Styles.Render("~/css")
     @Scripts.Render("~/js/vendor")

</head>
<body>
     @Html.Partial("_Header")
     @Html.Partial("_Navigation")
     @RenderBody()
     @Html.Partial("_Footer")

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

     @Scripts.Render("~/js")
</body>